*.pdf binary
*.zip binary
*.md text eol=lf
*.tex text eol=lf
*.sty text eol=lf
*.def text eol=lf
*.cfg text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.diff text eol=lf whitespace=-blank-at-eol
