
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BVS eOPAC - Niedersorbische Bibliothek</title>
    <!--[if lt IE 10]><meta http-equiv="refresh" content="0; URL=/ie/" /><![endif]-->
    <script type="text/javascript">
    var isIE10 = false;
    /*@cc_on
        if (/^10/.test(@_jscript_version)) {
            isIE10 = true;
        }
    @*/
    if (isIE10) {
      window.location = '/ie/';
    }

    </script>
    <link rel="stylesheet"
          href="/static/dist/bvseopac-frontend.css?version=4.14.0"
          type="text/css" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/static/favicons/apple-touch-icon.png">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="/static/favicons/favicon-32x32.png">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="/static/favicons/favicon-16x16.png">
    <link rel="manifest"
          href="/niedersorbische-bibliothek/site.webmanifest">
    <link rel="mask-icon"
          href="/static/favicons/safari-pinned-tab.svg"
          color="#495994">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#495994">
    <meta name="msapplication-config"
          content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#495994">
    
    <link href="/niedersorbische-bibliothek/open-search.xml"
          rel="search"
          title="BVS eOPAC"
          type="application/opensearchdescription+xml">
    <link rel="canonical" href="https://www.bibkat.de/niedersorbische-bibliothek/medium/terminologija-za-predmjet-matematika-1-nakad-00007475/">
    <meta name="apple-itunes-app" content="app-id=1200479072">
  </head>
  <body class="theme-blue">
    <div class="topbar"></div>
    <div class="container clearfix">
      <aside class="content-aside">
        <header class="header">
  <div class="inner inner-box">
    <div class="hidden-mobile hidden-tablet">
      
      <a class="header-logo" href="/niedersorbische-bibliothek/"><img
          src="/media/catalog_1136/Logo_DSB_trans.png" alt="Logo der Niedersorbische Bibliothek - zur Startseite"></a>
      
    </div>
    <div class="hidden-desktop">
      <h1>Niedersorbische Bibliothek</h1>
    </div>
  </div>
</header>

        <nav class="navigation">
          <a href="/niedersorbische-bibliothek/"
             class="navigation-link"><svg role="img" aria-label="Startseite" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-home"></use></svg> <span>Startseite</span></a>
          
          

<a href="/niedersorbische-bibliothek/reader/"
  class="navigation-link hidden-desktop"><svg role="img" aria-label="Leserkonto" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-account"></use></svg> <span>Leserkonto</span>
  </a>

<div class="hidden-mobile hidden-tablet">
  
  <form action="/niedersorbische-bibliothek/reader/" method="POST"
    class="form clearfix navigation-login">
    <input type="hidden" name="csrfmiddlewaretoken" value="6SKvsdWqKBvosypM5Kcq3gLhFBRWTRI2W5qzmzdxixBE5CquESu3IMgLMitLmA3x">
    <input type="hidden" name="action" value="login">

    <h2><a href="/niedersorbische-bibliothek/reader/">Leserkonto</a></h2>

    

    <div class="form-group">
      <label class="form-label" for="username">Leser-/Ausweisnummer</label>
      <input type="text" class="form-control navigation-login-username" name="username" id="username"
        placeholder="z.B. 12345">
    </div>

    <div class="form-group">
      <label class="form-label" for="password">Passwort</label>
      <input type="password" class="form-control navigation-login-password" name="password" id="password">
    </div>

    <div class="navigation-login-actions">
      <a href="/niedersorbische-bibliothek/reader/"
        class="button with-icon-only"><svg role="img" aria-label="Hilfe" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-help"></use></svg></a>
      <button type="submit"
        class="button button-important button-important-waiting with-icon with-icon-loading"><svg role="img" aria-label="Login" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-login"></use></svg>
        anmelden</button>
    </div>
  </form>
  
</div>


          
            <a href="/niedersorbische-bibliothek/reader/register/"
               class="navigation-link hidden-mobile hidden-tablet"><svg role="img" aria-label="Leserkonto" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-account"></use></svg> Konto
            beantragen</a>
          
          <a href="/niedersorbische-bibliothek/star/"
             class="navigation-link navigation-starlist"><svg role="img" aria-label="Nicht auf dem Merkzettel" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-leaflet-off"></use></svg>
            <span>Merkzettel</span> <span class="navigation-link-counter hidden">0</span></a>
          
            <div class="navigation-openings hidden-mobile hidden-tablet">
              <h2 class="openings-navigation-wrapper">
                <a href="/niedersorbische-bibliothek/openings/">&Ouml;ffnungszeiten <span class="openings-info-badge openings-info-badge-closed-regular openings-info-badge-navigation js-tooltip hidden-mobile hidden-tablet"
       title="Wir haben aktuell geschlossen.">geschlossen</span></a>
              </h2>
              

<table class="openings-table">
	
		<tr class="openings-table-day">
			<td>dienstags:</td>

			
				<td>10:00 bis 16:30 Uhr</td>

				

				
			
		</tr>
	
		<tr class="openings-table-day">
			<td>mittwochs:</td>

			
				<td>10:00 bis 16:30 Uhr</td>

				

				
			
		</tr>
	
		<tr class="openings-table-day">
			<td>donnerstags:</td>

			
				<td>10:00 bis 16:30 Uhr</td>

				

				
			
		</tr>
	
		<tr class="openings-table-day">
			<td>freitags:</td>

			
				<td>10:00 bis 12:00 Uhr</td>

				

				
			
		</tr>
	
</table>
              <a href="/niedersorbische-bibliothek/openings/"
                 class="navigation-openings-calendar">Im
              Kalender anzeigen</a>
              
            </div>
          
          
          
            <a href="/niedersorbische-bibliothek/medialist/"
               class="navigation-link hidden-mobile"><svg role="img" aria-label="Liste" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-list"></use></svg> <span>Ausgewählte
            Medienlisten</span></a>
          
          
            <a href="/niedersorbische-bibliothek/accesslist/"
               class="navigation-link hidden-mobile"><svg role="img" aria-label="Listen" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-accesslist"></use></svg>
              <span>Recherchelisten</span></a>
          
          
            <a href="/niedersorbische-bibliothek/suggest/"
               class="navigation-link hidden-mobile hidden-tablet"><svg role="img" aria-label="Zur Anschaffung vorschlagen" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-suggest"></use></svg> Anschaffung
            vorschlagen</a>
          
          <div class="navigation-spacer hidden-mobile hidden-tablet"></div>
          
          
          
          
          
          
          
          
          <div class="navigation-spacer hidden-mobile hidden-tablet"></div>
          
          <a href="/niedersorbische-bibliothek/contact/"
             class="navigation-link hidden-mobile hidden-tablet"><svg role="img" aria-label="Kontakt" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-action-contact"></use></svg> Kontakt</a>
          <a href="/niedersorbische-bibliothek/help/"
             class="navigation-link hidden-mobile hidden-tablet"><svg role="img" aria-label="Hilfe" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-help"></use></svg> <span>Hilfe</span></a>
          <a href="/niedersorbische-bibliothek/menu/"
             class="navigation-link navigation-link-help hidden-desktop"><svg role="img" aria-label="Menü" class="icon" aria-hidden="true"><use xlink:href="/static/svg/bvseopac.svg#icon-menu"></use></svg>
            <span>Mehr</span></a>
          
        </nav>
      </aside>
      <main class="content-main">
        

<section class="search">
  <div class="inner inner-box">
    <form action="/niedersorbische-bibliothek/search/" class="form search-form">
      <h2 class="hidden-tablet hidden-mobile search-heading">Suchen in unserem Katalog</h2>
      <div class="search-standard">
        <input type="text" name="q" id="q" class="form-control search-standard-query"
          placeholder="Geben Sie hier Ihre Suchanfrage ein" autofocus="true" autocomplete="off"
          value="">
        
        <button type="submit" class="button button-important search-standard-button"
          aria-label="Suchen"><svg role="img" aria-label="Suchen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-search"></use></svg></button>
      </div>


      <div
        class="search-extended-info js-toggle-extended-search alert alert-info hidden-tablet hidden-desktop hidden-mobile">
        <svg role="img" aria-label="Achtung" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-message-rejection"></use></svg> Weitere Suchoptionen sind ausgewählt.</div>

      
      <div class="search-extended  hidden-mobile">
        
        <div class="search-extended-option">
          <label class="form-label" for="search-extended-author">Autor <a
              href="/niedersorbische-bibliothek/accesslist/person/" class="js-tooltip"
              title="Rechercheliste aufrufen"><svg role="img" aria-label="Listen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-accesslist"></use></svg></a></label>
          <input type="text" id="search-extended-author" name="author" value=""
            class="form-control">
        </div>

        <div class="search-extended-option">
          <label class="form-label" for="search-extended-title">Titel <a
              href="/niedersorbische-bibliothek/accesslist/title/" class="js-tooltip"
              title="Rechercheliste aufrufen"><svg role="img" aria-label="Listen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-accesslist"></use></svg></a></label>
          <input type="text" id="search-extended-title" name="title" value="" class="form-control">
        </div>

        
        <div class="search-extended-option">
          <label class="form-label" for="search-extended-notation">Kategorie <a
              href="/niedersorbische-bibliothek/accesslist/notation/" class="js-tooltip"
              title="Rechercheliste aufrufen"><svg role="img" aria-label="Listen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-accesslist"></use></svg></a></label>
          <select id="search-extended-notation" name="notation" class="form-control">
            <option value="">--- Bitte ausw&auml;hlen ---</option>
            
            <option value="B 00" >
              
              Wirtschaft
            </option>
            
            <option value="E" >
              
              Kirche
            </option>
            
            <option value="F 30" >
              
              Kultur
            </option>
            
            <option value="H" >
              
              Literatur
            </option>
            
            <option value="I J" >
              
              I J
            </option>
            
            <option value="I J F" >
              
              I J F
            </option>
            
            <option value="I J K" >
              
              I J K
            </option>
            
            <option value="II J" >
              
              II J
            </option>
            
            <option value="II K" >
              
              II K
            </option>
            
            <option value="III A" >
              
              III A
            </option>
            
            <option value="III J" >
              
              III J
            </option>
            
            <option value="J II" >
              
              J II
            </option>
            
            <option value="J ll" >
              
              J ll
            </option>
            
            <option value="S 10" >
              
              Braunkohlenbergbau
            </option>
            
            <option value="Ter  D" >
              
              Ter  D
            </option>
            
            <option value="Ter  F" >
              
              Ter  F
            </option>
            
            <option value="Ter  R" >
              
              Ter  R
            </option>
            
            <option value="Ter A" >
              
              Ter A
            </option>
            
            <option value="Ter A0" >
              
              Ter A0
            </option>
            
            <option value="Ter B" >
              
              Handwerk
            </option>
            
            <option value="Ter C" >
              
              Landes-, Kreis-, Kommunalparlamente
            </option>
            
            <option value="Ter D" >
              
              Ter D
            </option>
            
            <option value="Ter E" >
              
              Ter E
            </option>
            
            <option value="Ter F" >
              
              Ter F
            </option>
            
            <option value="Ter F22" >
              
              Ter F22
            </option>
            
            <option value="Ter G" >
              
              Sport
            </option>
            
            <option value="Ter H" >
              
              Ter H
            </option>
            
            <option value="Ter I" >
              
              Ter I
            </option>
            
            <option value="Ter I 30" >
              
              Nationale Minderheiten
            </option>
            
            <option value="Ter J II" >
              
              Ter J II
            </option>
            
            <option value="Ter K" >
              
              Ter K
            </option>
            
            <option value="Ter L" >
              
              Ter L
            </option>
            
            <option value="Ter N" >
              
              Ter N
            </option>
            
            <option value="Ter P" >
              
              Industriegeschichte
            </option>
            
            <option value="Ter R" >
              
              Ter R
            </option>
            
            <option value="Ter S" >
              
              Ter S
            </option>
            
            <option value="Ter T" >
              
              Grünflächen
            </option>
            
            <option value="Ter U" >
              
              Glasindustrie
            </option>
            
            <option value="Ter V" >
              
              Post
            </option>
            
            <option value="Ter W" >
              
              Landwirtschaft
            </option>
            
            <option value="Ter X" >
              
              Rezepte
            </option>
            
            <option value="V" >
              
              Eisenbahn
            </option>
            
            <option value="l J F" >
              
              l J F
            </option>
            
            <option value="ll J" >
              
              ll J
            </option>
            
            <option value="lll A" >
              
              lll A
            </option>
            
          </select>
        </div>
        

        <div class="search-extended-option">
          <label class="form-label" for="search-extended-type">Medienart</label>
          <select id="search-extended-type" name="type" class="form-control">
            <option value="">--- Bitte ausw&auml;hlen ---</option>
            
            <option value="R" >
              Bild, Poster</option>
            
            <option value="A" >
              Buch</option>
            
            <option value="O" >
              Comic</option>
            
            <option value="H" >
              Film (DVD)</option>
            
            <option value="V" >
              Film (Video)</option>
            
            <option value="T" >
              Hörbuch (CD, MC)</option>
            
            <option value="C" >
              Hörspiel (CD, MC)</option>
            
            <option value="D" >
              Musik (CD, DVD)</option>
            
            <option value="P" >
              Spiel</option>
            
            <option value="L" >
              Tonie, Hörstick, Schallplatte</option>
            
            <option value="K" >
              Toniebox, Hörstift, eReader, Computerprogramm</option>
            
            <option value="Y" >
              Zeitschriftenheft</option>
            
            <option value="1" >
              lokale Mediengruppe 1</option>
            
            <option value="2" >
              lokale Mediengruppe 2</option>
            
            <option value="3" >
              lokale Mediengruppe 3</option>
            
            <option value="4" >
              lokale Mediengruppe 4</option>
            
            <option value="5" >
              lokale Mediengruppe 5</option>
            
            <option value="6" >
              lokale Mediengruppe 6</option>
            
            <option value="7" >
              lokale Mediengruppe 7</option>
            
            <option value="8" >
              lokale Mediengruppe 8</option>
            
            <option value="9" >
              lokale Mediengruppe 9</option>
            
            <option value="E" >
              sonstiger Ton-/Bildträger</option>
            
            <option value="X" >
              sonstiges Material</option>
            
            <option value="0" >
              vermisst</option>
            
          </select>
        </div>

        
        <div class="search-extended-option">
          <label class="form-label" for="search-extended-place">Aufstellung <a
              href="/niedersorbische-bibliothek/accesslist/place/" class="js-tooltip"
              title="Rechercheliste aufrufen"><svg role="img" aria-label="Listen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-accesslist"></use></svg></a></label>
          <select id="search-extended-place" name="place" class="form-control">
            <option value="">--- Bitte ausw&auml;hlen ---</option>
            
            
          </select>
        </div>
        

        

        <div class="clearfix"></div>

        
        <div class="search-extended-option">
          <label for="search-extended-opt-top-lendings" class="form-checkbox"><input type="checkbox"
              name="opt_top_lendings" id="search-extended-opt-top-lendings" value="true"
              > nur Top-
            <select class="form-control is-inline" id="search-extended-top-lendings" name="top_lendings">
              <option value="25" >25</option>
              <option value="50" >50</option>
              <option value="100" >100</option>
            </select> Entleihungen</label>
        </div>
        

        
        <div class="search-extended-option">
          <label for="search-extended-opt-add-date" class="form-checkbox"><input type="checkbox" name="opt_add_date"
              id="search-extended-opt-add-date" value="true" > nur Anschaffungen der letzten
            <select class="form-control is-inline" id="search-extended-add-date" name="add_date">
              <option value="1" >1</option>
              <option value="2" >2</option>
              <option value="4" >4</option>
              <option value="6" >6</option>
              <option value="12" >12</option>
              <option value="24" >24</option>
            </select> Monate</label>
        </div>
        

        <div class="clearfix"></div>

        <div class="search-extended-actions">
          <button class="button js-search-reset">zurücksetzen</button>&nbsp;
          <button type="submit" class="button button-important with-icon"><svg role="img" aria-label="Suchen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-search"></use></svg> Suchen</button>
        </div>
        
      </div>

      <button class="search-toggle-extended js-toggle-extended-search hidden-mobile"><span>weitere Suchoptionen
          anzeigen</span></button>

      <button class="search-toggle-extended js-toggle-extended-search hidden-tablet hidden-desktop"><span>weitere
          Suchoptionen anzeigen</span></button>
      

    </form>
  </div>
</section>

        <section class="content">
          
  <div class="inner inner-box medium item-status-green "
       id="media-15997948"
       data-id="15997948"
       data-isn="9783742013590">
    
    <div class="medium-header">
      <div class="medium-type hidden-mobile"><svg role="img" aria-label="Buch" class="icon js-tooltip" title="Buch"><use xlink:href="/static/svg/bvseopac.svg#icon-media-book"></use></svg></div>
      <div class="medium-headline">
        <div class="medium-author">
          Magerowa, Katja
          
            <a href="/niedersorbische-bibliothek/?author=%22Magerowa, Katja%22"
               title="Weitere Medien von diesem Autor"
               class="js-tooltip medium-author-more"><svg role="img" aria-label="Suchen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-search"></use></svg></a>
          
        </div>
        <div class="medium-title">
          
          
          
          
          <span class="medium-fulltitle">Terminologija za předmjet matematika</span>
          <small>Němsko-hornjoserbsce Hornjoserbko-němsce Za zakładnu šulu</small>
        </div>
      </div>
    </div>
    <div class="medium-body">
      <div class="medium-aside">
        <div class="medium-cover"
             hx-get="https://kaleko.eopac.net/1136/buchhandel/9783742013590/HIMSG/?alt=Cover%20des%20Mediums%3A%20Terminologija%20za%20p%C5%99edmjet%20matematika"
             hx-trigger="load"
             hx-ext="bvseopac-cover"></div>
        <div class="medium-type hidden-table hidden-desktop">
          <svg role="img" aria-label="Buch" class="icon js-tooltip" title="Buch"><use xlink:href="/static/svg/bvseopac.svg#icon-media-book"></use></svg>
          Buch
        </div>
        <div class="medium-actions">
          
            
              
                <a href="#"
                   class="medium-action js-action js-action-medium"
                   data-action="reserve"
                   title="Vormerken"
                   data-title-short="Vormerken"><svg role="img" aria-label="Aktuell nicht vorgemerkt" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-bookmark-off"></use></svg></a>
              
            
          
          <a href="/niedersorbische-bibliothek/api/recommend/"
             class="medium-action js-action js-action-medium"
             data-action="recommend"
             title="Empfehlen"
             data-title-short="Empfehlen"><svg role="img" aria-label="Teilen" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-share"></use></svg></a>
          
            <a href="#"
               class="medium-action js-star js-action-medium"
               data-action="star"
               title="Auf Merkzettel notieren"
               data-title-short="Merken"><svg role="img" aria-label="Nicht auf dem Merkzettel" class="icon"><use xlink:href="/static/svg/bvseopac.svg#icon-action-leaflet-off"></use></svg></a>
          
        </div>
      </div>
      <div class="medium-content">
        <p>Die Terminologie für das Unterrichtsfach Mathematik in der Grundschule auf Deutsch-Obersorbisch und Obersorbisch-Deutsch.<br>R 4 LR 3</p>
        
        
        
        
        
          <hr class="hr-space hr-blind">
          <div class="medium-status js-medium-status">
            
              <span class="medium-status-symbol"></span>
            
            <div>Dieses Medium ist verfügbar. Es kann vorgemerkt oder direkt vor Ort ausgeliehen werden.</div>
          </div>
        
        
          
        
        
        
        
        
        
        
        
        
        
        
        
          
        
        
          <hr class="hr-space">
        
        
          <p class="medium-relation medium-seriess">
            <strong>Serie / Reihe:</strong>
            
              <a href="/niedersorbische-bibliothek/accesslist/series/T/1498123/"
                 class="tag">Terminologija</a>
              
            
          </p>
        
        
          <p class="medium-relation medium-persons">
            <strong>Personen:</strong>
            
              <a href="/niedersorbische-bibliothek/accesslist/person/M/8582235/"
                 class="tag">Magerowa, Katja
                
              </a>
            
          </p>
        
        
        
        
        
          <p class="medium-relation medium-tags">
            <strong>Schlagwörter:</strong>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(Sorabistik)"
                 class="tag">Sorabistik</a>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(GRUNDSCHULE)"
                 class="tag">GRUNDSCHULE</a>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(W%C3%B6rterbuch%20Deutsch-Obersorbisch)"
                 class="tag">Wörterbuch Deutsch-Obersorbisch</a>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(W%C3%B6rterbuch%20Obersorbisch-Deutsch)"
                 class="tag">Wörterbuch Obersorbisch-Deutsch</a>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(Terminologie%20Mathematik%20Obersorbisch)"
                 class="tag">Terminologie Mathematik Obersorbisch</a>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(Schulbuch%20Mathematik%20Obersorbisch)"
                 class="tag">Schulbuch Mathematik Obersorbisch</a>
            
              <a href="/niedersorbische-bibliothek/?q=tag:(Magerowa%2C%20Katja)"
                 class="tag">Magerowa, Katja</a>
            
          </p>
        
        
          <p class="medium-relation medium-tags">
            <strong>
            Interessenkreis:</strong>
            
              <a href="/niedersorbische-bibliothek/?q=interesttag:(Obersorbisch)"
                 class="tag">Obersorbisch</a>
            
          </p>
        
        
        <div class="medium-bibliography">
          
            <div class="medium-signature js-tooltip"
                 title="Zeilentrennung und Abbildung kann vom eigentlichen Signaturschild abweichen"
                 style="background-color:rgb(0,173,239);
                        color:rgb(255,255,255)">
              <p>Ter F 22</p>
            </div>
          
          <div class="medium-bibliography-content">
            
              <p>Magerowa, Katja:<br>Terminologija za předmjet matematika : Němsko-hornjoserbsce Hornjoserbko-němsce Za zakładnu šulu / WITAJ-Sprachzentrum RCW (Hg.). - 1. Auflage. - Bautzen : Domowina-Verlag, 2008. - 105. - (Terminologija)<br>ISBN 978-3-7420-1359-0 Broschur : 4,90 EUR<br></p>
            
            Zugangsnummer: 00007475
            - Barcode: 2-2114237-4-00007475-9
            <br>
            Ter F -
            
            <strong>Buch</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="medium-crossisn"
         hx-get="/BGX431253/api/medium/crossisn/?payload=15997948"
         hx-trigger="revealed"></div>
  </div>

        </section>
      </main>
    </div>
    
<footer class="footer">
  BVS eOPAC <a href="/niedersorbische-bibliothek/version/"
    class="footer-link">v4.14.0</a> - &copy; 2000-2026 IBTC -
  <a href="https://eopac.net/media/catalog_1136/Nutzerordnung_A4.pdf" class="footer-link">Nutzungsordnung</a> -
  
  <a href="/niedersorbische-bibliothek/status/" class="footer-link">Status</a> -
  
  <a href="/niedersorbische-bibliothek/accessibility/" class="footer-link">Barrierefreiheit</a> - <a
    href="/niedersorbische-bibliothek/policy/" class="footer-link">Datenschutz</a> - <a
    href="/niedersorbische-bibliothek/security/" class="footer-link">Sicherheit</a> - <a
    href="/niedersorbische-bibliothek/impressum/" class="footer-link">Impressum</a>
</footer>


<div class="alerts">
  
</div>

<script src="/static/dist/app.js?version=4.14.0"></script>
<script type="text/javascript">
  /* beautify ignore:start */
  function runInit() {
		bvseopac.init('BGX431253', {
			'is_embedded': false,
			'remote': '',
      'opt_divibib': false,
      'opt_autocomplete': true,
			'opt_cross_isn': true,
			'opt_cover': true,
      'catalog_url_part': 'niedersorbische-bibliothek',
      'tck_ga': '',
		},{
			'reserve': 'Vormerken',
			'reserve_short': 'Vormerken',
			'reserve_delete': 'Vormerkung löschen',
			'reserve_delete_short': 'Löschen',
			'renew_waiting': 'Verlängerung steht aus',
			'renew_waiting_short': 'steht aus',
			'star': 'Auf Merkzettel notieren',
			'star_short': 'Merken',
			'star_delete': 'Von Merkzettel streichen',
			'star_delete_short': 'Vergessen',
			'search_extended_show': 'Weitere Suchoptionen anzeigen',
			'search_extended_hide': 'Weitere Suchoptionen ausblenden',
			'facet_more': '- mehr -',
			'facet_less': '- weniger -',
		}, 'Medium');
  }

if (document.readyState == "loading") {
  document.addEventListener("DOMContentLoaded", runInit);
} else {
  runInit();
}

/* beautify ignore:end */

</script>


<script data-goatcounter="https://herder.eopac.net/hi" data-catalog="1136" async
  src="//herder.eopac.net/hi.js"></script>


  </body>
</html>
